.photos {
    max-width: calc(100% - 2px);
    height: auto;
    max-height: 390px;
    border: 1px solid black;
}

a img {
    vertical-align: middle;
}

.post {
    background-color: white;
    text-align: left;
    position: relative;
    margin: 35px auto 70px auto;
    /*margin-bottom: 70px;*/
    height: 740px;
    width:520px;
    border: 1px solid rgb(254, 240, 213);
    border-radius: 8px;
    display: grid;
}

.post:hover {
    box-shadow: 4px 4px 6px rgb(254, 240, 213);
}

.legend {
    font-style: italic;
}

.gallery {
    position: relative;
    top: 120px;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.nb_likes {
    margin: 0;
    position: absolute;
    top:19px;
    right: 60px;
    font-size: 20px;
}

.heart {
    background-color: transparent;
    position: absolute;
    top:19px;
    height: 25px;
    width: auto;
    right: 10px;
    cursor: pointer;
}

.comment {
    text-align: center;
    width: 520px;
}

.comment_form {
    height: 150px;
    width: 495px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.actual_comments {
    height: 175px;
    width: 510px;
    overflow-y: auto;
    text-align: left;
    padding: 3px;
    margin: 1px;
}

.creator {
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 50%;
}

#cont {margin: 4px;}

#cont p { display: inline;}

#commentator {
    color: rgb(141, 178, 200)
}

.combox {
    width: 520px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(254, 240, 213);
    border-top: 1px solid rgb(254, 240, 213);
}

.commentajax {
    background-color: rgb(254, 241, 213);
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1em;
    width: 120px;
    border-radius: 20px;
}

.commentajax:hover {
    box-shadow: 1px 1px 1px rgb(254, 240, 213);
}

.prof_pic {
    margin: 5px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    vertical-align: center;
}

.centpic {
    text-align: center;
    background-color: transparent;
}
